* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita desplazamientos horizontales no deseados */
}

/* Estilos generales para el contenedor principal de cada página */
.reservation-layout {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  transition: all 0.5s ease;
}

/* Lista de reservas (al principio ocupa más espacio, luego se reduce) */
.reservation-list {
  flex: 3;
  transition: all 0.5s ease;
}

.reservation-list.shrink {
  flex: 1; /* Reducir la lista de reservas para hacer espacio al formulario */
}

/* Formulario de reservas (aparece a la derecha) */
.reservation-form {
  flex: 2;
  transition: all 0.5s ease;
  opacity: 1;
}

/* Hacer el formulario visible con animación */
.reservation-form.hidden {
  opacity: 0; /* Ocultar si no está en uso */
}

/* Ajuste del contenedor principal */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #1a252f;
  color: #ecf0f1;
  padding: 40px 20px;
}
/*Login page*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a252f; /* Fondo oscuro */
  color: #ecf0f1;
  padding: 20px;
}

/* Estilo del formulario de Login */
.login-form {
  background-color: #2c3e50;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center; /* Centramos el texto del formulario */
}

/* Formulario estilo */
.form-container {
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.filters-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2c3e50;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.filters-container .form-group {
  display: flex;
  flex-direction: column;
}

/* Estilo para formularios */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: #ecf0f1;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: 2px solid #3498db;
}

/* Botones generales */
.button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

/* Títulos generales */
h2 {
  color: #ecf0f1;
  margin-bottom: 20px;
}

/* Estilos generales para tablas */
.table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px; /* Espacio inferior para separar otros elementos */
}

.table thead {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #34495e;
}

.table tbody tr:nth-child(even) {
  background-color: #2e3b47; /* Alternar color de fila */
}

.table tbody tr:hover {
  background-color: #3b4a58; /* Color al pasar el cursor */
}

/* Botones generales */
.button {
  background-color: #3498db; /* Color azul por defecto */
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.button:hover {
  background-color: #2980b9;
}

.button-danger {
  background-color: #e74c3c;
}

.button-danger:hover {
  background-color: #c0392b;
}

.logout-button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c0392b;
}

/* Estilo para el botón de menú hamburguesa y cerrar */
.toggle-button {
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 2em; /* Puedes ajustar según quieras que se vea la hamburguesa */
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.3s ease;
}

.hamburger-button {
  font-size: 2em; /* Tamaño del ícono de hamburguesa */
}

.close-button {
  font-size: 1.5em; /* Tamaño de la "X" */
}

/* Media queries*/

@media (max-width: 1129px) and (min-width: 867px) {
  .filters-container {
    flex-direction: row; /* Filtros en fila */
    justify-content: space-between; /* Espacio uniforme entre filtros */
    align-items: center;
    gap: 15px; /* Ajustar espacio entre los filtros */
  }

  .filters-container .form-group {
    flex-direction: row; /* Cada filtro alineado horizontalmente */
    align-items: center;
    margin-bottom: 0; /* Eliminar margen inferior */
  }

  .filters-container label {
    margin-right: 8px; /* Espacio entre el label y el input */
  }

  .filters-container input,
  .filters-container select {
    flex: 1; /* Ajustar el tamaño para que ocupen un espacio proporcional */
  }
}
@media (min-width: 868px) and (max-width: 940px) {
  .filters-container {
    flex-direction: row; /* Mantener los filtros en una fila horizontal */
    flex-wrap: wrap; /* Permitir que los filtros salten a la siguiente línea si es necesario */
    justify-content: space-between; /* Espacio uniforme entre ellos */
    gap: 10px; /* Ajustar el espacio entre los filtros */
    padding: 10px;
  }

  .filters-container .form-group {
    width: calc(
      50% - 10px
    ); /* Cada filtro ocupa el 50% del ancho disponible menos el gap */
    flex-direction: column; /* Apilar el label y el input/select */
    align-items: flex-start;
  }

  .filters-container input,
  .filters-container select {
    width: 100%; /* Asegurar que los inputs y selects ocupen todo el ancho del filtro */
  }
}
@media (max-width: 768px) {
  .filters-container {
    flex-direction: row; /* Los filtros se organizan horizontalmente */
    flex-wrap: wrap; /* Permitir que los filtros salten a la siguiente línea si es necesario */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente */
    gap: 10px; /* Espacio entre los filtros */
  }

  .filters-container .form-group {
    flex-direction: column; /* Cada filtro tiene label e input apilados */
    align-items: center; /* Centrar los elementos dentro de cada filtro */
  }

  .filters-container label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
  }

  .filters-container input,
  .filters-container select {
    width: auto; /* Los inputs y selects tendrán un ancho automático */
  }
}
